//- 출처: https://oneroomtable.tistory.com/entry/WebSocketSocket-IO-%EC%B1%84%ED%8C%85-%EC%84%9C%EB%B9%84%EC%8A%A4-%EA%B5%AC%ED%98%84-1-%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8-%EC%84%A4%EC%A0%95?category=909165


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="../public/styles/enter.css")

        style.
            ul {
                padding: 0
            }
            div#box{
                overflow-y:scroll ;
                height:650px;
            }
            form#message {
                padding-top: 10px;
                margin-left: 10%;
                margin-right: 10%;
            }
        
        title Chat
    body
        header 
            h1 Chat Service 
        main 
            //- div#nickname
            //-     form
            //-         input(type="text", placeholder="Plz put your lovely name!", required, autofocus)
            //-         button Save

            //- div#room
            //-     form
            //-         input(type="text", placeholder="Plz write room name!", required)
            //-         button Enter

            div.login-wrapper
                h1 Chat Chat!
                form(id="login-form") 
                    input(type="text",id="room",name="roomName", placeholder="Room Name")
                    input(type="text",id="nickname",name="userNickname",placeholder="User Nickname")
                    label(for="remember-check") 
                        input(type="checkbox",id="remember-check" ) 
                        span &nbsp;&nbsp;닉네임 저장하기 
                    input(type="submit", value="Enter")


            div#chat
                h2 Room name
                div#box
                    ul
                form#message
                    input(type="text", placeholder="Plz write Msg!", required)
                    button Send

    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")
